/**
* @file
* featured_image.scss
*
* Featured image
*/

.featured-image {
  display: table;
  width: 100%;
  height: 420px;
  background-attachment: fixed;

  .inner {
    display: table-cell;
    vertical-align: middle;
    background: $featuredImageOverlay;

    .content {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      color: $white;

      h1 {
        font-size: 3em;
        letter-spacing: 2px;
        line-height: 1em;
        margin-bottom: 20px;
        font-weight: 100;
      }

      span {
        font-size: 1.4em;
        display: block;
        letter-spacing: 1px;
        line-height: 1.5em;
        margin: 20px auto;
      }
    }
  }
}
