/**
* @file
* general.scss
*
* General
*/

html,
body {
  font-family: $defaultFont;
  color: $defaultFontColor;
  font-size: $defaultFontSize;
}

h1 {
  font-family: $headingFont;
}

h2 {
  font-family: $headingFont;
  font-size: 0.6em;
  letter-spacing: 2px;
  line-height: 1.2em;
  text-transform: none;
  color: $defaultHeadingColor;
}

h3 {
  font-family: $headingFont;
  font-size: 1em;
  text-transform: none;
  color: $defaultHeadingColor;
}

a {
  color: $primaryBrandColor;

  &:hover {
    color: $primaryBrandColorHover;
    text-decoration: none;
  }
}
