/**
* @file
* medaqueries.scss
*
* Media queries
*/

@media (max-width: 768px) {
  html,
  body {
    font-size: 17px;
  }

  .page {
    .featured-image {
      .inner {
        .content {
          h1 {
            font-size: 2.8em;
          }
        }
      }
    }
  }

  .page-frontpage {
    .container {
      .page-section {
        .row {
          .col-md-4,
          .col-md-6 {
            margin-bottom: 4em;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      #pricing {
        .row {
          .col-md-4 {
            margin-bottom: 6em;
          }
        }

        .custom-package {
          margin-top: 0;
        }
      }
    }
  }

  .page-why {
    #featured-image-why {
      .inner {
        .content {
          .btn-online-as-different {
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .site-footer {
    ul {
      li {
        display: block !important;
      }
    }
  }
}

@media (min-width: 375px) {
  html,
  body {
    font-size: 13px;
  }

  .page-why {
    #featured-image-why {
      .inner {
        .content {
          .btn-online-as-different {
            font-size: 0.75em;
          }
        }
      }
    }
  }
}
