/**
* @file
* _quote.scss
*
* Quote
*/

.quote-block {
  margin-top: 2em;
  text-align: center;

  .fa-quote-left {
    color: $light;
  }

  .quote-text {
    font-size: 0.9em;
  }

  .quote-by {
    small {
      color: $darkBrandColor;
    }
  }
}
