/**
* @file
* variables.scss
*
* Variables
*/

$totalWhite: #fff;
$white: #f7f7f7;
$totalBlack: #000;
$black: #252525;

$defaultFont: 'Hind', sans-serif;
$headingFont: 'Arial', sans-serif;
$defaultFontSize: 19px;
$defaultFontColor: #5C5C5C;
$secondaryFontColor: #1a1a1a;
$defaultHeadingColor: #3e3e3e;

$primaryBrandColor: #ec6d2b;
$primaryBrandColorHover: #f5874e;
$darkBrandColor: #1f1f1f;
$secondaryDarkBrandColor: #333;

$mainHeaderColor: #858585;
$featuredImageOverlay: rgba(0,0,0,.3);

$light: #C2C2C2;
