<div class="about">
  <section class="info-section">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <h3>We imagine the future of travel</h3>
      <div class="row">
        <div class="col-12 col-md-6">
          {% if site.data.about %}
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            {% for about in site.data.about %}
            <a class="nav-link" id="v-pills-{{ forloop.index }}-tab"
              data-toggle="pill" href="#v-pills-{{ forloop.index }}" role="tab"
              aria-controls="v-pills-{{ forloop.index }}" aria-selected="false">
              {{ about.title }}
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-md-6">
          {% if site.data.about %}
          <div class="tab-content" id="v-pills-tabContent">
            {% for about in site.data.about %}
            <div class="tab-pane fade" id="v-pills-{{ forloop.index }}"
              role="tabpanel" aria-labelledby="v-pills-{{ forloop.index }}-tab">
              {{ about.text }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="plug-app-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="{{ '/assets/images/about-plug-app.svg' | relative_url }}"
            alt="Plug your app within 30days" loading="lazy" />
        </div>
        <div class="col-12 col-md-6">
          <h2>Plug in your app within 30 days</h2>
          <a href="{{ '/pricing' | relative_url }}"
            class="btn btn--color-royal-blue">
            Get Started for Free
          </a>
        </div>
      </div>
    </div>
  </section>
</div>