<table class="email-signature">
  <tbody>
    <tr>
      <td>
        <a href="https://allmyles.com" target="_blank">
          <img src="{{ '/assets/images/email-signature-logo.png' | relative_url }}" alt="Allmyles" class="logo" />
        </a>
      </td>
      <td>
        <div class="social-media-links">
          <h5>Balázs Tóth</h5>
          <h6>CEO</h6>
          <div class="social-media-link">
            <img src="{{ '/assets/icons/email-signature-icons-1.png' }}" alt="Website" />
            <a href="https://allmyles.com" target="_blank">allmyles.com</a>
          </div>
          <div class="social-media-link">
            <img src="{{ '/assets/icons/email-signature-icons-2.png' }}" alt="Facebook" />
            <a href="https://www.facebook.com/allmyles" target="_blank">facebook</a>
          </div>
          <div class="social-media-link">
            <img src="{{ '/assets/icons/email-signature-icons-3.png' }}" alt="LinkedIn" />
            <a href="https://www.linkedin.com/company/allmyles" target="_blank">linkedin</a>
          </div>
          <div class="social-media-link">
            <img src="{{ '/assets/icons/email-signature-icons-4.png' }}" alt="Instagram" />
            <a href="https://www.instagram.com/allmyles" target="_blank">instagram</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>