<div class="features">
  <section class="bookable-section">
    <div class="container">
      <h1 class="page-title-hidden">{{ page.title }}</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            data-src="{{ '/assets/images/features-bookable-travel-content.svg' | relative_url }}"
            alt="bookable-travel-content" class="lazyload" />
        </div>
        <div class="col-12 col-md-6">
          <h2>Bookable</h2>
          <h3>Travel APIs</h3>
          <p>
            Allmyles Travel APIs let your customers search, book and pay
            on your applications. Full user journey on your product,
            including payment and confirmation.
          </p>
          <p>
            Imagine your traveler gets the same impressions, same visuals, same
            user experience up to checkout. Licences and expertise
            covered by Allmyles. Your clients can enjoy your seamless user
            experience without become redirected to a third party. Allmyles APIs
            are payment platform independent so that you can integrate your
            favourite PSP.
            <a
              href="{{ '/blog/news/2016/12/20/calendar-search-in-travel-apis.html' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-clutch-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-md-2">
          <img
            data-src="{{ '/assets/images/features-payment-clutch.svg' | relative_url }}"
            alt="payment-clutch" class="lazyload" />
        </div>
        <div class="col-12 col-md-6 order-md-1">
          <h2>Payment clutch</h2>
          <h3>Automated deposit handling</h3>
          <p>
            Collect end user payment in your application to profit without any
            delay. Checkout is in your hands that secures positive cash flow.
          </p>
          <p>
            Allmyles APIs are based on the fastest deposit hanlding mechanism
            ever. Allmyles requires the lowest possible commercial deposit from
            your business to let you manage your revenue flexibly by using your
            corporate credit/debit card charged automatically at time of balance
            check before we finish purchase transaction. Thus you can allocate
            low deposit that is sufficient for the next purchase transaction.
            <a
              href="{{ '/blog/news/2016/01/04/cooperating-with-barion-and-ixaris.html' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="boosted-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            data-src="{{ '/assets/images/features-boosted-conversion.svg' | relative_url }}"
            alt="conversion boosted" class="lazyload" />
        </div>
        <div class="col-12 col-md-6">
          <h2>Boosted</h2>
          <h3>Conversion guaranteed</h3>
          <p>
            Bookablity is key for online travel merchants to reduce cost of
            conversion as low as possible. Allmyles is working hard on removal
            of all technical glitches resulted from less and less standardised
            travel industry providers.
          </p>
          <p>
            You can provide stable booking platform to your clients in a new
            era when airlines diversify their booking process, enhance
            merchandizing, provide on board service at time of booking. Multiple
            hotel consolidator content often requires deduplication of
            properties to make your client happier while browsing on your
            content.
            <a href="{{ '' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="travel-content-integration-section">
    <div class="container bg--color-royal-blue">
      <h2>The easiest travel content integration ever</h2>
      <div class="row">
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-multisource.svg' | relative_url }}"
            alt="multisource" class="lazyload" />
          Multisource
        </div>
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-marketing-and-business.svg' | relative_url }}"
            alt="marketing automation" class="lazyload" />
          Focus on marketing and<br />Business model
        </div>
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-fare-families.svg' | relative_url }}"
            alt="fare families" class="lazyload" />
          Fare families
        </div>
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-price-alert.svg' | relative_url }}"
            alt="price alert" class="lazyload" />
          Price alert
        </div>
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-social-media.svg' | relative_url }}"
            alt="social media integration" class="lazyload" />
          Social Media Integration
        </div>
        <div class="col-12 col-md-4">
          <img
            data-src="{{ '/assets/icons/features-bundled-and-individual.svg' | relative_url }}"
            alt="bundled and uniqe" class="lazyload" />
          Bundled & Individual services
        </div>
      </div>
    </div>
  </section>
  <section class="dashboard-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            data-src="{{ '/assets/images/features-dashboard-management.svg' | relative_url }}"
            alt="dahboard management" class="lazyload" />
        </div>
        <div class="col-12 col-md-6">
          <h2>Dashboard</h2>
          <h3>Management and more</h3>
          <p>
            Just log in to our dashboard and manage your online travel merchant.
            Allmyles provides a self service dashboard for you to access account
            details, list your bookings, manage your bookings, view invoices and
            your team.
          </p>
          <p>
            On our continuously developing dashboard you can update your
            corporate information, add and modify payment metod used for monthly
            fee as well deposit management. Access financial information about
            your bookings, visualise searches, bookings and successful purchase
            transactions. You can control payroll and employee timesheets.
            <a href="{{ '' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="travel-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-md-2">
          <img
            data-src="{{ '/assets/images/features-trav-cont.svg' | relative_url }}"
            alt="travel content" class="lazyload" />
        </div>
        <div class="col-12 col-md-6 order-md-1">
          <h2>30-days</h2>
          <h3>Content integration</h3>
          <p>
            Content integration within 30 days without delays. Offering the
            fastest travel contnt integration globally.
          </p>
          <p>
            Allmyles RESTful API documentation is easy to understand for even
            novice programmers thus your staff can familiarize with it smoothly.
            Instead of bulky XML standard we provide jSON request/response to
            reduce not only the workload on your end but also to narrow down the
            bandwidth required for the communication, because speed is key for
            your user experience.
            <a href="{{ '' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="book-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            data-src="{{ '/assets/images/features-book-tickets.svg' | relative_url }}"
            alt="book tickets" class="lazyload" />
        </div>
        <div class="col-12 col-md-6">
          <h2>Book</h2>
          <h3>Flights, Hotels, CarRentals</h3>
          <p>
            Book 800+ Airlines including Full Service and Low Cost carriers,
            2.4 million hotel properties globally from 21 different
            consolidators
            and 16 major car rental companies.
          </p>
          <p>
            Forget the complex integration with global distribution systems, low
            cost carriers, hotel consolidators, just focus on your unique
            business model, successful marketing activity and growing registered
            users. All the rest is on Allmyles.
            <a href="{{ '' | relative_url }}">
              Learn more
            </a>
          </p>
          <a href="#" id="show-more">Show more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="customers-service-shine-section">
    <div class="container bg--color-royal-blue">
      <div class="row">
        <div class="col-12 col-md-8 col-xl-6 customers-service-shine-content">
          <h2>Let your customer service shine</h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-one-way.svg' | relative_url }}"
                alt="one way combinable fares" class="lazyload" />
              One way combinable
            </div>
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-red-eye.svg' | relative_url }}"
                alt="red eye flights" class="lazyload" />
              RedEye Flight
            </div>
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-calendar.svg' | relative_url }}"
                alt="calendar view" class="lazyload" />
              Calendar view
            </div>
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-radius.svg' | relative_url }}"
                alt="radius search" class="lazyload" />
              Radius Search
            </div>
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-free-location-search.svg' | relative_url }}"
                alt="location search" class="lazyload" />
              Free Location Search
            </div>
            <div class="col-12 col-md-6">
              <img
                data-src="{{ '/assets/icons/features-single-contract.svg' | relative_url }}"
                alt="single contract" class="lazyload" />
              Single contract
            </div>
          </div>
        </div>
        <div
          class="col-12 col-md-4 col-xl-6 d-none d-md-block customers-service-shine-image">
          <img
            data-src="{{ '/assets/images/features-customer-service.svg' | relative_url }}"
            alt="customer service" class="lazyload" />
        </div>
      </div>
    </div>
  </section>
  <section class="online-travel-merchant-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Become an online travel merchant</h2>
          <p>
            Allmyles Travel booking API provides an innovative platform for you
            to build flight, hotel, car rental apps.
          </p>
          <a href="{{ '/pricing' | relative_url }}"
            class="btn btn--color-royal-blue">
            Get Started for Free
          </a>
        </div>
      </div>
    </div>
  </section>
</div>