<head>
  {% gtm head %}
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <meta name="robots" content="noindex, nofollow" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ '/assets/favicon.ico' | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/bootstrap.css' | relative_url }}"
  />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <title>
    {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}
  </title>
  {% seo %}
</head>
