<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" type="image/x-icon"
    href="{{ '/assets/favicon.ico' | relative_url }}" />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Regular.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Bold.otf' | relative_url }}" as="font"
    type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Light.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Medium.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="stylesheet"
    href="{{ '/assets/css/vendor.min.css' | relative_url }}" />
  <link rel="preload" href="{{ '/assets/css/main.min.css' | relative_url }}"
    as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet"
      href="{{ '/assets/css/main.min.css' | relative_url }}" />
  </noscript>
  <link rel="preload"
    href="{{ '/assets/css/cookieconsent.min.css' | relative_url }}" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet"
      href="{{ '/assets/css/cookieconsent.min.css' | relative_url }}" />
  </noscript>
  {% seo %}
  {% gtm head %}
</head>