<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#ffffff"/>
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/assets/images/allmyles_logo_192s.png">
  <link rel="shortcut icon" type="image/x-icon"
    href="{{ '/assets/favicon.ico' | relative_url }}" />
  <link rel="preconnect" href="https://www.facebook.com" />
  <link rel="preconnect" href="https://connect.facebook.net" />
  <link rel="preconnect" href="https://www.google.com" />
  <link rel="preconnect" href="https://www.google.hu" />
  <link rel="preconnect" href="https://www.google-analytics.com" />
  <link rel="preconnect" href="https://www.googletagmanager.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://www.googleadservices.com" />
  <link rel="preconnect" href="https://googleads.g.doubleclick.net" />
  <link rel="preconnect" href="https://stats.g.doubleclick.net" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" />
  <link rel="preconnect" href="https://static.hotjar.com" />
  <link rel="preconnect" href="https://script.hotjar.com" />
  <link rel="preconnect" href="https://embed.tawk.to" />
  <link rel="preconnect" href="https://static-v.tawk.to" />
  <link rel="preconnect" href="https://va.tawk.to" />
  <link rel="preconnect" href="//downloads.mailchimp.com" />
  <link rel="preconnect" href="//mc.us8.list-manage.com" />
  <link rel="dns-prefetch" href="https://www.facebook.com" />
  <link rel="dns-prefetch" href="https://connect.facebook.net" />
  <link rel="dns-prefetch" href="https://www.google.com" />
  <link rel="dns-prefetch" href="https://www.google.hu" />
  <link rel="dns-prefetch" href="https://www.google-analytics.com" />
  <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
  <link rel="dns-prefetch" href="https://www.googleadservices.com" />
  <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net" />
  <link rel="dns-prefetch" href="https://stats.g.doubleclick.net" />
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="https://static.hotjar.com" />
  <link rel="dns-prefetch" href="https://script.hotjar.com" />
  <link rel="dns-prefetch" href="https://embed.tawk.to" />
  <link rel="dns-prefetch" href="https://static-v.tawk.to" />
  <link rel="dns-prefetch" href="https://va.tawk.to" />
  <link rel="dns-prefetch" href="//downloads.mailchimp.com" />
  <link rel="dns-prefetch" href="//mc.us8.list-manage.com" />
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Regular.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Bold.otf' | relative_url }}" as="font"
    type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Light.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="preload"
    href="{{ '/assets/fonts/Aeonik/Aeonik-Medium.otf' | relative_url }}"
    as="font" type="font/otf" crossorigin />
  <link rel="stylesheet preload"
    href="{{ '/assets/css/vendor.min.css' | relative_url }}" as="style" />
  <link rel="stylesheet preload"
    href="{{ '/assets/css/main.min.css' | relative_url }}" as="style" />
  <link rel="stylesheet preload"
    href="{{ '/assets/css/cookieconsent.min.css' | relative_url }}"
    as="style" />
  {% seo %}
  {% gtm head %}
</head>
