<div class="help">
  <section class="help-center-section">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <div class="row">
        <div class="col-12 col-md-4">
          <a href="{{ '/news' | relative_url }}">
            <img data-src="{{ '/assets/icons/new.svg' | relative_url }}"
              alt="News" class="lazyload" />
            <h4>What's New?</h4>
            <p>Say hello to the new features.</p>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <a href="{{ '/faq' | relative_url }}">
            <img data-src="{{ '/assets/icons/faq.svg' | relative_url }}"
              alt="Frequentily Asked Questions" class="lazyload" />
            <h4>Frequently Asked Questions</h4>
            <p>Have a question about something?</p>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <a href="https://docs.allmyles.com" target="_blank">
            <img data-src="{{ '/assets/icons/documentation.svg' | relative_url }}"
              alt="API Docs" class="lazyload" />
            <h4>Documentation</h4>
            <p>Getting things done with Allmyles.</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-section">
    <div class="container">
      <h2>What's new?</h2>
      <div class="row">
        {% for post in site.posts limit:3 | sort: 'date' %}
        <div class="col-12 col-md-4">
          <div class="card">
            <a href="{{ post.url | relative_url }}">
              <img data-src="/assets/images/blog{{ post.img | relative_url }}"
                alt="{{ post.title }}" class="card-img-top lazyload" />
              <div class="card-body">
                <small class="card-category">{{ post.categories }}</small>
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-subtitle">{{ post.subtitle }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
        <a href="{{ '/news' | relative_url }}" class="btn btn--color-romantic">
          View all
        </a>
      </div>
    </div>
  </section>
</div>