@import "global/variables";
@import "global/general";
@import "global/subpages";
@import "global/featured_image";
@import "global/button";
@import "global/quote";

@import "layout/header";
@import "layout/social_links";
@import "layout/footer";

@import "pages/frontpage";
@import "pages/news";
@import "pages/why";
@import "pages/how";
@import "pages/what_we_do";
@import "pages/tos";
@import "pages/privacy_policy";
@import "pages/contact";
