<div class="media-kit">
  <section class="favourite-allmyles-stories-section">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <h3>Thanks for your interest in Allmyles!</h3>
      <h2>Allmyles stories to be published</h2>
    </div>
    <div class="container">
      <div class="row cards">
        <div class="col-12 col-xl-4">
          <div class="card">
            <img
              src="{{ '/assets/images/forbes.png' | relative_url }}"
              alt="Forbes"
            />
            <p>
              Allmyles offers a revolutionizing solution in the travel industry.
            </p>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card">
            <img
              src="{{ '/assets/images/fortune.png' | relative_url }}"
              alt="Fortune"
            />
            <p>
              Unique API solutions from a hungarian startup, Allmyles.
            </p>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card">
            <img
              src="{{ '/assets/images/the-economist.png' | relative_url }}"
              alt="The Economist"
            />
            <p>
              Allmyles can offer the easiest travel content integration ever.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="describing-allmyles-section">
    <div class="container">
      <h2>Describing Allmyles</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <h4>Short Description</h4>
          <p>
            Allmyles is a travel booking API for you to build flight, hotel, car
            rental reseller apps.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h4>Boilerplate</h4>
          <p>
            Our passion is to bring creativity back to the travel industry by
            removing manual intervention completely from business administration
            and let machines do the repetitive job while experienced travel
            agents, as well as traveler community, can study more about the
            "product" and tell their stories to everyone online.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="brand-assets-section">
    <div class="container">
      <a
        href="{{ '' | relative_url }}"
        id="download-logos-button"
        class="d-none d-md-block btn btn--color-romantic"
      >
        Download logos
      </a>
      <h2>Brand assets</h2>
      <h4>Logo pack</h4>
      <p>
        Containing both the primary and secondary coloured logo with the marks
        in various formats.
      </p>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="image-background image-background--color-white">
            <img
              src="{{ '/assets/images/media-kit-logo-normal.svg' | relative_url }}"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="image-background image-background--color-royal-blue">
            <img
              src="{{ '/assets/images/media-kit-logo-white.svg' | relative_url }}"
              alt=""
            />
          </div>
        </div>
      </div>
      <a
        href="{{ '' | relative_url }}"
        class="d-md-none btn btn--color-romantic"
      >
        Download logos
      </a>
    </div>
  </section>
  <section class="photo-assets-section">
    <div class="container">
      <a
        href="{{ '' | relative_url }}"
        id="download-photos-button"
        class="d-none d-md-block btn btn--color-romantic"
      >
        Download photos
      </a>
      <h2>Photo assets</h2>
      <h4>The usage of our product</h4>
      <p>
        A few shots for a deeper understanding about Allmyles as a product in
        action.
      </p>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <img
              src="{{ '/assets/images/media-kit-photo-assets-1.png' | relative_url }}"
              alt=""
            />
            <p>Product screens</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <img
              src="{{ '/assets/images/media-kit-photo-assets-2.png' | relative_url }}"
              alt=""
            />
            <p>Our partners & customers</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <img
              src="{{ '/assets/images/media-kit-photo-assets-3.png' | relative_url }}"
              alt=""
            />
            <p>About the leadership</p>
          </div>
        </div>
      </div>
      <a
        href="{{ '' | relative_url }}"
        class="d-md-none btn btn--color-romantic"
      >
        Download photos
      </a>
    </div>
  </section>
</div>
