<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo"
        class="logo" />
    </a>
    <button class="navbar-toggler collapsed" type="button"
      data-toggle="collapse" data-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/features' | relative_url }}">
            Features
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/pricing' | relative_url }}">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ '/help' | relative_url }}">
            Help
          </a>
          <span id="navbarDropdown" role="button" aria-haspopup="true"
            aria-expanded="false"></span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ '/news' | relative_url }}">
              What's new
            </a>
            <a class="dropdown-item" href="{{ '/faq' | relative_url }}">FAQ</a>
            <a class="dropdown-item" href="https://docs.allmyles.com"
              target="_blank">
              Documentation
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/about' | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login-button"
            href="https://dashboard.allmyles.com/login" target="_blank">
            Login
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link btn btn--color-romantic sign-up-button"
            href="https://dashboard.allmyles.com/signup" target="_blank">
            Sign up
          </a>
        </li>
      </ul>
      <div class="d-lg-none">
        <a class="btn btn--color-royal-blue"
          href="https://dashboard.allmyles.com/signup" target="_blank">
          Sign up
        </a>
        <div class="social-media">
          {% if site.facebook.username %}
          <a href="https://www.facebook.com/{{ site.facebook.username }}"
            target="_blank">
            <img src="{{ '/assets/icons/facebook.svg' | relative_url }}"
              alt="Facebook" />
          </a>
          {% endif %}
          {% if site.twitter.username %}
          <a href="https://www.twitter.com/{{ site.twitter.username }}"
            target="_blank">
            <img src="{{ '/assets/icons/twitter.svg' | relative_url }}"
              alt="Twitter" />
          </a>
          {% endif %}
          {% if site.linkedin.username %}
          <a href="https://www.linkedin.com/{{ site.linkedin.username }}"
            target="_blank">
            <img src="{{ '/assets/icons/linkedin.svg' | relative_url }}"
              alt="LinkedIn" />
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>