<div class="pricing">
  <section class="save-employee-fees-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-lg-2">
          <div class="pricing-content">
            <h1>Save full time employee with Allmyles</h1>
            <p>Your approximate saving</p>
            <h3 id="pricing-cost-saving">€ 0</h3>
          </div>
        </div>
        <div class="col-12 col-md-6 order-lg-1">
          <div class="pricing-illustrations">
            <div class="pricing-project-manager active">
              <div class="pricing-project-manager-text">
                <small>Project manager</small>
                <p>€ 3000/month</p>
              </div>
            </div>
            <div class="pricing-travel-agent active">
              <div class="pricing-travel-agent-text">
                <small>Travel Agent</small>
                <p>€ 3000/month</p>
              </div>
            </div>
            <div class="pricing-backend active">
              <div class="pricing-backend-text">
                <small>Back-End developer</small>
                <p>€ 3000/month</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 pricing-calculator order-lg-3">
          <div class="pricing-text">
            <p>I have</p>
            <span class="pricing-monthly">1500</span>
            <p>daily visitors</p>
          </div>
          <input type="range" id="pricing-range" min="0" max="3000"
            value="1500" />
          <div class="pricing-text">
            <p>Your daily fee is</p>
            <span class="pricing-total">€ 2700</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="packages-section">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="card best-fit">
            <small class="best-fit-text">Best fit</small>
            <h4></h4>
            <img src="{{ '/assets/icons/pricing-free.svg' | relative_url }}"
              alt="Bestf it for you" />
            <p>Try Allmyles for 30 days</p>
            <h3>Free trial</h3>
            <p>
              In the free staging phase, you are able to get a peek on every
              feature, however you're unable to use them in their full
              potential.
            </p>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <h4>Cub</h4>
            <img src="{{ '/assets/icons/pricing-cub.svg' | relative_url }}"
              alt="Cub Pricing Tier" />
            <p>One time certification fee</p>
            <h3>€ 3000</h3>
            <p>€ 1 000 used for first top ups</p>
            <p>€ 0.9 / search @ no minimum search per day</p>
            <a href="https://dashboard.allmyles.com/signup" target="_blank"
              class="btn btn--color-romantic">
              Try for Free
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <h4>Geek</h4>
            <img src="{{ '/assets/icons/pricing-geek.svg' | relative_url }}"
              alt="Geek Pricing Tier" />
            <p>One time certification fee</p>
            <h3>€ 5000</h3>
            <p>€ 1 000 used for first top ups</p>
            <p>€ 0. 09 / search @ min. 600 search per day</p>
            <a href="https://dashboard.allmyles.com/signup" target="_blank"
              class="btn btn--color-romantic">
              Try for Free
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <h4>Growth hacker</h4>
            <img
              src="{{ '/assets/icons/pricing-growthHacker.svg' | relative_url }}"
              alt="Growth Hacker Pricing Tier" />
            <p>One time certification fee</p>
            <h3>€ 10 000</h3>
            <p>€ 2 000 used for first top ups</p>
            <p>€ 0. 06 / search @ min. 1500 search per day</p>
            <a href="https://dashboard.allmyles.com/signup" target="_blank"
              class="btn btn--color-romantic">
              Try for Free
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plans-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a type="button" class="plans-button" data-toggle="collapse"
            data-target="#collapsePlans" aria-expanded="true">
          </a>
          <div class="collapse show plans-collapse" id="collapsePlans">
            <div class="d-none d-md-block">
              <table class="table">
                <thead>
                  <th>Compare plans</th>
                  <th>Cub</th>
                  <th>Geek</th>
                  <th>Growth hacker</th>
                </thead>
                <tbody>
                  {% for plan in site.data.pricing.plans %}
                  <tr>
                    <td>{{ plan.title }}</td>
                    <td>
                      {% if plan.cub %}
                      <span class="tick-purple"></span>
                      {% endif %}
                    </td>
                    <td>
                      {% if plan.geek %}
                      <span class="tick-purple"></span>
                      {% endif %}
                    </td>
                    <td>
                      {% if plan.growthHacker %}
                      <span class="tick-purple"></span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="d-md-none">
              {% assign assignPlans = "cub|geek|growthHacker" | split: "|" %}
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                {% for value in assignPlans %}
                <li class="nav-item">
                  <a class="nav-link" id="pills-{{ value }}-tab"
                    data-toggle="pill" href="#pills-{{ value }}" role="tab"
                    aria-controls="pills-{{ value }}" aria-selected="false">
                    {% if value == "cub" %}
                    Cub
                    {% endif %}
                    {% if value == "geek" %}
                    Geek
                    {% endif %}
                    {% if value == "growthHacker" %}
                    Growth hacker
                    {% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
              <div class="tab-content" id="pills-tabContent">
                {% for value in assignPlans %}
                <div class="tab-pane fade" id="pills-{{ value }}"
                  role="tabpanel" aria-labelledby="pills-{{ value }}-tab">
                  {% if site.data.pricing.plans %}
                  <table class="table">
                    <tbody>
                      {% for plan in site.data.pricing.plans %}
                      <tr>
                        <td>{{ plan.title }}</td>
                        <td>
                          {% if value == "cub" and plan.cub %}
                          <span class="tick-purple"></span>
                          {% endif %}
                          {% if value == "geek" and plan.geek %}
                          <span class="tick-purple"></span>
                          {% endif %}
                          {% if value == "growthHacker" and plan.growthHacker %}
                          <span class="tick-purple"></span>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="faq">
            <h2>Frequently asked questions</h2>
            <div id="accordion">
              {% for faq in site.data.pricing.faq %}
              <div class="card">
                <div class="card-header" id="heading-{{ forloop.index }}">
                  <button class="btn collapsed" data-toggle="collapse"
                    data-target="#collapse-{{ forloop.index }}">
                    {{ faq.question }}
                    <div class="button-accordion">
                      <span class="button-accordion-icon"></span>
                    </div>
                  </button>
                </div>
                <div id="collapse-{{ forloop.index }}" class="collapse">
                  <div class="card-body">
                    <p>{{ faq.answer }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <a href="{{ '/help' | relative_url }}">Visit the Help Center</a>
          </div>
          <img src="{{ '/assets/images/landing-faq.svg' | relative_url }}"
            alt="Frequently Asked Questions" class="d-none d-lg-block" />
        </div>
      </div>
    </div>
  </section>
</div>
