<script defer>
  window.onload = function () {
    ! function (s, e, a) {
      function r() {
        for (; o[0] && 'loaded' == o[0][c];) i = o.shift(), i[u] = !s.body
          .appendChild(i)
      }
      for (let t, n, i, o = [], l = s.scripts[0], u = 'onreadystatechange',
          c =
          'readyState'; t = a.shift();) n = s.createElement(e), 'async' in
        l ?
        (n
          .async = !1, s.body.appendChild(n)) : l[c] ? (o.push(n), n[u] =
          r) :
        s
        .write("<" + e + ' src="' + t
          .v + '" ' + t.w ?
          t.w + '="' + t.x :
          "" +
          '" defer></' + e + ">"), n.defer = !0, n.src = t.v, t
        .w ? n.setAttribute(t.w,
          t
          .x) :
        false
    }(document, "script", [{
      v: "{{ '/assets/js/vendor.bundle.min.js' | relative_url }}"
    }, {
      v: "{{ '/assets/js/mailchimp-signup-forms.popup.embed.js' | relative_url }}",
      w: "data-dojo-config",
      x: "usePlainJson: true, isDebug: false"
    }, {
      v: "{{ '/assets/js/main.min.js' | relative_url }}"
    }]);
  };
</script>
{% include enabling-js-noscript.html %}