<section class="social-links">
    <ul class="list-inline">
        <li>
            <a target="_blank" href="https://www.facebook.com/allmyles">
                <i class="fa fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/allmylesconnect">
                <i class="fa fa-twitter-square"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/company/allmyles-kft-">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </li>
    </ul>
</section>
