/**
* @files
* _footer.scss
*
* Footer
*/

#footer {
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: $darkBrandColor;
  color: $white;
  padding: 1.8em;

  #footer-info {
    #footer-menu {
      ul {
        list-style: none;
        margin: 1.6em;

        li {
          display: inline-block;
          margin: 1.1em;

          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }

    p {
      &:last-child {
        text-transform: none;
        margin: 2em;
      }
    }
  }
}
