/**
* @files
* _contact.scss
*
* Contact
*/

.page-contact {
  #featured-image-contact {
    background-image: url('../img/featured_images/contact.jpg');
    background-size: cover;
  }

  .office {
    .map {
      height: 0;
      width: 100%;
      padding-bottom: 56.25%;
      overflow: hidden;
      position: relative;

      .map-object {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .address-text {
      display: block;
      margin-bottom: 1em;
    }
  }

  .email {
    .email-address {
      margin-bottom: 2.5em;

      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        font-weight: bold;
      }
    }
  }
}
