/**
* @file
* _frontpage_pricing.scss
*
* Pricing section at frontpage.
*/

#pricing {
  text-align: center;

  .col-md-4 {
    h3 {
      text-transform: lowercase;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-top: 0.5em;
        padding-bottom: 1em;
      }
    }

    .cost {
      font-weight: bold;
    }

    .btn-pricing {
      @extend .btn-allmyles;
    }
  }

  .custom-package {
    margin-top: 6em;

    span {
      font-size: 0.9em;
      margin-bottom: 0.9em;
    }
  }
}
