/**
* @file
* _why.scss
*
* Why
**/

.page-why {
  #featured-image-why {
    background-image: url('../img/why.jpg');
    background-size: cover;

    .btn-online-as-different {
      margin-top: 5.2em;
      @extend .btn-allmyles;
    }
  }

  .summary {
    font-size: 1.3em;
    padding-bottom: 2.5em;
  }
}
