/**
* @files
* _frontpage.scss
*
* Frontpage
*/

.page-frontpage {
  /* General */
  .container {
    margin-top: 0 !important;
  }

  .page-section {
    line-height: 180%;
    margin-bottom: 100px;

    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 0.91em;
      line-height: 1.2em;
      letter-spacing: 2px;
    }

    header {
      margin-bottom: 2.3em;
    }
  }

  /* Featured image */
  #featured-image-frontpage {
    background-image: url("../img/featured_images/frontpage.jpg");
    background-size: cover;

    .btn-get-started {
      margin: 20px auto;
      @extend .btn-allmyles;
    }
  }

  /* Hello */
  #hello {
    text-align: center;
    font-size: 2em;
    margin: 1.3em 0;

    h2 {
      font-size: 0.9em;
    }

    p {
      font-size: 0.4em;
      font-weight: bold;
      line-height: 1.2em;
      letter-spacing: 2px;

      &:last-child {
        line-height: 1.6em;
        letter-spacing: 0;
        color: $secondaryFontColor;
      }
    }
  }

  /* About Us */
  #about-us {
    h3 {
      letter-spacing: 2px;
      line-height: 1.6em;
      text-align: center;
    }

    p {
      font-size: 0.9em;
      text-align: center;
      line-height: 1.6em;
    }
  }

  /* Without restrictions */
  #without-restrictions {
    h2 {
      text-align: center;
    }

    .col-md-6 {
      &:first-child {
        figure {
          img {
            width: 70%;
          }
        }
      }
    }
  }

  /* Content Integration */
  #content-integration {
    text-align: center;
  }

  /* Use It */
  #use-it {
    h2 {
      text-align: center;
    }

    .col-md-6 {
      &:first-child {
        h3 {
          text-align: left;
        }
      }

      &:last-child {
        img {
          width: 30%;
        }
      }
    }
  }

  figure {
    text-align: center;
  }

  /* Pricing */
  #pricing {
    text-align: center;

    .col-md-4 {
      h3 {
        text-transform: lowercase;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          padding-top: 0.5em;
          padding-bottom: 1em;
        }
      }

      .cost {
        font-weight: bold;
      }

      .btn-pricing {
        @extend .btn-allmyles;
      }
    }

    .custom-package {
      margin-top: 6em;

      span {
        font-size: 0.9em;
        margin-bottom: 0.9em;
      }
    }
  }
}
