/**
* @file
* _how.scss
*
* How
*/

.page-how {
  #featured-image-how {
    background-image: url('../img/featured_images/how.jpg');
    background-size: cover;
    
    .btn-just-try-it {
      margin-top: 5.2em;
      @extend .btn-allmyles;
   }
  }

  h2 {
    text-align: center;
    margin: 0 auto 2em;
  }
}
