/**
* @file
* _what_we_do.scss
*
* What We Do
*/

.page-what_we_do {
  #featured-image-wwd {
    background-image: url("../img/featured_images/what_we_do.jpg");
    background-size: cover;
    
    .btn-check-it-out {
     margin-top: 5.2em;
     @extend .btn-allmyles;
    }
   }
  }

  .summary {
    font-size: 1.3em;
    margin-bottom: 3em;
  }

  .quote-block {
    margin-bottom: 3.2em;
  }

  .timeline {
    border-top: 1px solid $light;
    padding-top: 2em;
  }
}
