---
layout: compress
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="X-UA-Compatible" content="IE=Edge, chrome=1">

  <title>{{ page.title }}</title>
  <link rel="icon" href="/img/favicon.ico">

  <meta name="author" content="Allmyles Ltd.">

  <link href="//fonts.googleapis.com/css?family=Montserrat:700|Hind:300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
  analytics.load("5QtHEDduFgEXfMqCiZ7WEtfNgg9JIiUv");
  analytics.page()
  }}();
  </script>
  <style type="text/css">
      {% capture include_to_scssify %}
        {% include main.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
  </style>
</head>
<body>
  <nav class="navbar navbar-allmyles">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/allmyles_logo.png" alt="Allmyles logo"></a>
      </div>

      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/why">Why</a></li>
          <li><a href="/how">How</a></li>
          <li><a href="/what_we_do">What We Do</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="http://docs.allmyles.com/">API</a></li>
          <li><a href="http://dashboard.allmyles.com/">Log In</a></li>
          <li><a href="http://dashboard.allmyles.com/">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {{ content }}

  <section id="social-links">
    <ul class="list-inline">
      <li>
        <a target="_blank" href="https://www.facebook.com/allmyles">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/allmylesconnect">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/allmyles-kft-">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
    </ul>
  </section>

  <footer class="site-footer">
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="http://docs.allmyles.com">Docs</a></li>
      <li><a href="http://allmyles.atlassian.net">Issues</a></li>
      <li><a href="/tos/">Terms of Service</a></li>
      <li><a href="/privacy_policy/">Privacy Policy</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <p>Allmyles, Károly krt 9. 1075 Budapest, Hungary <span>+36&nbsp;30&nbsp;748&nbsp;0436</span> <a href="mailto:info@allmyles.com">info@allmyles.com</a></p>
    <p>Images from <a href="http://images.superfamous.com/">Superfamous</a></p>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
