---
layout: compress
---
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      {% seo %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="X-UA-Compatible" content="IE=Edge, chrome=1">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
      <link rel="icon" href="/img/favicon.ico">
      <meta name="author" content="Allmyles Ltd.">
      <meta name="google-site-verification" content="tB_3wuPCitQ4x9xONjL160sH4Ub7rDV6yq3USlPKvZ4" />
      <link href="//fonts.googleapis.com/css?family=Montserrat:700|Hind:300,600" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
      <script type="text/javascript">
         window.smartlook||(function(d) {
         var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
         var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
         c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
         })(document);
         smartlook('init', '57ce1377e409c69c7ccdf3338c16d8c5b90a21a1');
      </script>
      <script type="text/javascript">
         !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
         analytics.load("sdFcy6xI0OhS5oLwYi1lSMY3B2Kyj4te");
         analytics.page();
         }}();
      </script>
      <style type="text/css">
         {% capture include_to_scssify %}
         {% include main.scss %}
         {% endcapture %}
         {{ include_to_scssify | scssify }}
      </style>
      <!-- Facebook Pixel Code -->
      <script>
         !function(f,b,e,v,n,t,s)
         {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
         n.callMethod.apply(n,arguments):n.queue.push(arguments)};
         if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
         n.queue=[];t=b.createElement(e);t.async=!0;
         t.src=v;s=b.getElementsByTagName(e)[0];
         s.parentNode.insertBefore(t,s)}(window, document,'script',
         'https://connect.facebook.net/en_US/fbevents.js');
         fbq('init', '877131375794306');
         fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=877131375794306&ev=PageView&noscript=1"
         /></noscript>
      <!-- End Facebook Pixel Code -->
   </head>

<body>
  <nav class="navbar navbar-allmyles">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/allmyles_logo.png" alt="Allmyles logo"></a>
      </div>

      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/why">Why</a></li>
          <li><a href="/how">How</a></li>
          <li><a href="/what_we_do">What We Do</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="http://docs.allmyles.com">API</a></li>
	  <li><a href="https://status.allmyles.com/">Incidents</a></li>
          <li><a href="http://dashboard.allmyles.com/">Log In</a></li>
          <li><a href="http://dashboard.allmyles.com/">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {{ content }}

  <section class="social-links">
    <ul class="list-inline">
      <li>
        <a target="_blank" href="https://www.facebook.com/allmyles">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/allmylesconnect">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/allmyles-kft-">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
    </ul>
  </section>

  <footer class="site-footer">
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="http://docs.allmyles.com">Docs</a></li>
      <li><a href="http://allmyles.atlassian.net">Issues</a></li>
      <li><a href="/tos">Terms of Service</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <p>Allmyles, Károly krt 5. 1075 Budapest, Hungary <span>+36&nbsp;30&nbsp;748&nbsp;0436</span> <a href="mailto:info@allmyles.com">info@allmyles.com</a></p>
    <p class="copyright">Images from <a href="http://images.superfamous.com/">Superfamous</a></p>
  </footer>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59d349974854b82732ff33e4/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script type="text/javascript" 
	  src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" 
	  data-dojo-config="usePlainJson: true, isDebug: false">
</script>
<script type="text/javascript">
	require(["mojo/signup-forms/Loader"], 
		function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"34427879ce889cb69ae1b9e75","lid":"7e58348ec9"}) })
	</script>
<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js"
	data-font-size="10px"
	data-divlink="#333"
	data-divlinkbg="#eee"
	data-cookie="CookieInfoScript"
	data-text-align="left"
	accept-on-scroll="True">
</script>

</body>
</html>
