<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body
    class="{% if page.layout == 'post' %}post{% else %}page page-{{ page.slug }}{% endif %}"
  >
    {% gtm body %}
    <header>
      {% include navbar.html %}
    </header>
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
