<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="entry">
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/logo-white.svg' }}" alt="Logo"
              class="logo" />
          </a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        {{ content }}
        <div class="copyright">
          &copy; {{ site.time | date: '%Y' }}, Allmyles Ltd. All Rights Reserved
          <a href="{{ '/privacy-and-terms' | relative_url }}" target="_blank">
            Privacy and terms of services
          </a>
        </div>
      </div>
    </main>
    {% include scripts.html %}
  </body>
</html>